.details{
    background-color: gray;
    img{
        width: 300px;
        height: 300px;
    }
    h4{
        font-size: 30px;
        text-transform: capitalize;
    }
    h5{
        font-size: 25px;
        text-align: center;
        color: rgb(21, 21, 252);
        font-weight: lighter;
    }
}